{% extends "base_private.html" %}

{% block title %}22q11-ibbc.org | Password Reset{% endblock title %}

{% load staticfiles%}

<!-- CONTENT -->
{% block content %}
<div id="content">

    <div id='content-main-reset'>
        <h1>Password Reset</h1>

        <p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
    
        <form method="post">
            {% csrf_token %}
            {{ form.email.errors }}
            <input id="id_email" maxlength="254" name="email" type="email" placeholder="EMail" />
            <input type="submit" value="Reset my password" />
        </form>
    </div>
</div>
{% endblock %}