{% extends "base_private.html" %}

{% block title %}22q11-ibbc.org | Password Reset Confirmation{% endblock title %}

{% load staticfiles%}

<!-- CONTENT -->
{% block content %}
<div id="content">

    <div id='content-main-reset'>
        <h1>Password Reset</h1>
            {% if validlink %}
            <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
        
            <form method="post">
                {% csrf_token %}
                {{ form.new_password1.errors }}
                <p class="aligned wide"><label for="id_new_password1">New password:</label>{{ form.new_password1 }}</p>
                {{ form.new_password2.errors }}
                <p class="aligned wide"><label for="id_new_password2">Confirm password:</label>{{ form.new_password2 }}</p>
                <input type="submit" value="Change my password" />
            </form>

            {% else %}
                <p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>
                <p><a href="{% url "data:reset" %}">Reset Password</a></p>
            {% endif %}
    </div>

</div>
{% endblock %}


