{% extends "data/data_base.html" %}

<!-- CONTENT-DATA-CONTENT- -->
{% block content-data-content %}
    <div id='data-box'>
        <div id='data-box-top'></div>
        <div id='data-box-title'>Affymetrix Data</div>

        <table>
            <tr>
                <th>Affymetrix Name</th>
                <th>Download</th>
            </tr>
            {% for affymetrix in affymetrix_list %}
            <tr>
                <td id="tag-name-summary"><a href="{% url "data:affymetrix_detail" affymetrix.pk %}"> {{ affymetrix.name }} </a></td>
                <td id="tag-value"><a href="{% url "data:affymetrix_download" affymetrix.pk %}"> Download </a></td>
            </tr>
            {% empty %}
            <tr>
                <td id="tag-name"> Nothing found... </td>
            </tr>
            {% endfor %}
        </table>

        <table>
            <tr>
                <td>
                    <div class="pagination">
                        <span class="step-links">
                            {% if page_obj.has_previous %}
                                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                            {% endif %}
                
                            <span class="current">
                                Page {{ page_obj.number }} of {{ paginator.num_pages }}
                            </span>
                
                            {% if page_obj.has_next %}
                                <a href="?page={{ page_obj.next_page_number }}">next</a>
                            {% endif %}
                        </span>
                    </div>
                </td>
            </tr>
        </table>
        <form action="{% url 'data:affymetrix_all_list' %}">
            <div class="page-search">
                <input type="number" name="page" min="1" max="{{ paginator.num_pages }}" value="{{ page }}">
                <input id='form-submit' type="submit" value="GO" />                                        
            </div>
        </form>
        <div id="hidden-line-bottom"></div>

    </div>
{% endblock %}
<!-- END CONTENT -->