{% extends "base_arcana.html" %}

{% block title %}22q11-ibbc.org | Publications{% endblock title %}

{% load staticfiles%}

<!-- CONTENT -->
{% block content %}
<section class="wrapper style1">
    <div class="container">
        <div id="content">
            <article>
                <header>
                    <h2>Publications by Consortium Members</h2>
                </header>
                <ul>
                    <li><a href="http://www.ncbi.nlm.nih.gov/pubmed/26742502" target="_blank">
                    Rare copy number variants and congenital heart defects in the 22q11.2 deletion syndrome.
                    Mlynarski EE, Xie M, Taylor D, Sheridan MB, Guo T, Racedo SE, McDonald-McGinn DM, Chow EW, Vorstman J, Swillen A, Devriendt K, Breckpot J, Digilio MC, Marino B, Dallapiccola B, Philip N, Simon TJ, Roberts AE, Piotrowicz M, Bearden CE, Eliez S, Gothelf D, Coleman K, Kates WR, Devoto M, Zackai E, Heine-Suñer D, Goldmuntz E, Bassett AS, Morrow BE, Emanuel BS; International Chromosome 22q11.2 Consortium. Hum Genet. 2016 Jan 7.</a>
                    </li>
                    </br>
                    <li><a href="http://www.ncbi.nlm.nih.gov/pubmed/25989227" target="_blank">
                    Developmental trajectories in 22q11.2 deletion syndrome.
                    Swillen A, McDonald-McGinn D. Am J Med Genet C Semin Med Genet. 2015 May 18. doi: 10.1002/ajmg.c.31435.</a>
                    </li>
                    </br>
                    <li><a href="http://www.ncbi.nlm.nih.gov/pubmed/25892112" target="_blank">
                    Copy-Number Variation of the Glucose Transporter Gene SLC2A3 and Congenital Heart Defects in the 22q11.2 Deletion Syndrome.
                    Mlynarski EE, Sheridan MB, Xie M, Guo T, Racedo SE, McDonald-McGinn DM, Gai X, Chow EW, Vorstman J, Swillen A, Devriendt K, Breckpot J, Digilio MC, Marino B, Dallapiccola B, Philip N, Simon TJ, Roberts AE, Piotrowicz M, Bearden CE, Eliez S, Gothelf D, Coleman K, Kates WR, Devoto M, Zackai E, Heine-Suñer D, Shaikh TH, Bassett AS, Goldmuntz E, Morrow BE, Emanuel BS; International Chromosome 22q11.2 Consortium. Am J Hum Genet. 2015 May 7;96(5):753-64. doi: 10.1016/j.ajhg.2015.03.007.</a>
                    </li>
                    </br>
                    <li><a href="http://www.ncbi.nlm.nih.gov/pubmed/25715178" target="_blank">
                    Cognitive decline preceding the onset of psychosis in patients with 22q11.2 deletion syndrome.
                    Vorstman JA, Breetvelt EJ, Duijff SN, Eliez S, Schneider M, Jalbrzikowski M, Armando M, Vicari S, Shashi V, Hooper SR, Chow EW, Fung WL, Butcher NJ, Young DA, McDonald-McGinn DM, Vogels A, van Amelsvoort T, Gothelf D, Weinberger R, Weizman A, Klaassen PW, Koops S, Kates WR, Antshel KM, Simon TJ, Ousley OY, Swillen A, Gur RE, Bearden CE, Kahn RS, Bassett AS; International Consortium on Brain and Behavior in 22q11.2 Deletion Syndrome. JAMA Psychiatry. 2015 Apr;72(4):377-85. doi: 10.1001/jamapsychiatry.2014.2671.</a>
                    </li>
                    </br>
                    <li><a href="http://www.ncbi.nlm.nih.gov/pubmed/24577245" target="_blank">
                    Psychiatric disorders from childhood to adulthood in 22q11.2 deletion syndrome: results from the International Consortium on Brain and Behavior in 22q11.2 Deletion Syndrome.
                    Schneider M, Debbané M, Bassett AS, Chow EW, Fung WL, van den Bree M, Owen M, Murphy KC, Niarchou M, Kates WR, Antshel KM, Fremont W, McDonald-McGinn DM, Gur RE, Zackai EH, Vorstman J, Duijff SN, Klaassen PW, Swillen A, Gothelf D, Green T, Weizman A, Van Amelsvoort T, Evers L, Boot E, Shashi V, Hooper SR, Bearden CE, Jalbrzikowski M, Armando M, Vicari S, Murphy DG, Ousley O, Campbell LE, Simon TJ, Eliez S; International Consortium on Brain and Behavior in 22q11.2 Deletion Syndrome. Am J Psychiatry. 2014 Jun;171(6):627-39. Review.</a>
                    </li>
                    </br>
                    <li><a href="http://www.ncbi.nlm.nih.gov/pubmed/23034814" target="_blank">
                    Overt cleft palate phenotype and TBX1 genotype correlations in velo-cardio-facial/DiGeorge/22q11.2 deletion syndrome patients.
                    Herman SB, Guo T, McGinn DM, Blonska A, Shanske AL, Bassett AS, Chow EW, Bowser M, Sheridan M, Beemer F, Devriendt K, Swillen A, Breckpot J, Digilio MC, Marino B, Dallapiccola B, Carpenter C, Zheng X, Johnson J, Chung J, Higgins AM, Philip N, Simon T, Coleman K, Heine-Suner D, Rosell J, Kates W, Devoto M, Zackai E, Wang T, Shprintzen R, Emanuel BS, Morrow BE; International Chromosome 22q11.2 Consortium. Am J Med Genet A. 2012 Nov;158A(11):2781-7. doi: 10.1002/ajmg.a.35512.</a>
                    </li>
                    </br>
                    <li><a href="http://www.ncbi.nlm.nih.gov/pubmed/21796729" target="_blank">
                    Genotype and cardiovascular phenotype correlations with TBX1 in 1,022 velo-cardio-facial/DiGeorge/22q11.2 deletion syndrome patients.
                    Guo T, McDonald-McGinn D, Blonska A, Shanske A, Bassett AS, Chow E, Bowser M, Sheridan M, Beemer F, Devriendt K, Swillen A, Breckpot J, Digilio MC, Marino B, Dallapiccola B, Carpenter C, Zheng X, Johnson J, Chung J, Higgins AM, Philip N, Simon TJ, Coleman K, Heine-Suner D, Rosell J, Kates W, Devoto M, Goldmuntz E, Zackai E, Wang T, Shprintzen R, Emanuel B, Morrow B; International Chromosome 22q11.2 Consortium. Hum Mutat. 2011 Nov;32(11):1278-89. doi: 10.1002/humu.21568.</a>
                    </li>
                    </br>
                    <li><a href="http://www.ncbi.nlm.nih.gov/pubmed/21570089" target="_blank">
                    Practical guidelines for managing patients with 22q11.2 deletion syndrome.
                    Bassett AS, McDonald-McGinn DM, Devriendt K, Digilio MC, Goldenberg P, Habel A, Marino B, Oskarsdottir S, Philip N, Sullivan K, Swillen A, Vorstman J; International 22q11.2 Deletion Syndrome Consortium. J Pediatr. 2011 Aug;159(2):332-9.e1. doi: 10.1016/j.jpeds.2011.02.039.</a>
                    </li>
                </ul>
            </article>
        </div>
    </div>
</section>

<!-- CTA -->
<section id="cta" class="wrapper style3">
    <div class="container">
        <header>
            <h2>Interested in learning more?</h2>
            <a href="{% url 'about' %}" class="button">Project Overview</a>
        </header>
    </div>
</section>
<!-- END CTA -->

{% endblock %}
<!-- END CONTENT -->

{% block scripts %}
<!-- JQUERY -->
<script type="text/javascript">
jQuery( document ).ready(function($) {
    $( 'a[href="/publication/"]' ).parent().attr('class', 'current');
});
</script>
<!-- End JQUERY -->
{% endblock %}
